/*Specific to Advisors Wordpress Theme*/
.page-section{
	padding:0 !important;
	padding-bottom:2em !important;
}

.customsearch-cpt-container{
	/*Reset Table Styles*/
	table, caption, tbody, tfoot, thead, tr, th, td {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    outline: 0;
	    font-size: 100%;
	    vertical-align: baseline;
	    background: transparent;
	}
	
	*,
	*:after,
	*:before {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 0;
	    margin: 0;
	}
	::selection {
	    background: transparent; 
	}
	
	::-moz-selection {
	    background: transparent; 
	}
		
	#customsearchcpt-table.noshow, .noshow{
		display:none !important;
	}
	.search-ctrl-wrapper{
		width: 60%;
		margin: 0px auto;	
	}
	.search-filters-wrapper{
		padding-bottom:4em;
		width:55%;
		margin: 0 auto;
	}
	.wrapper-dropdown-searchcpt{
		letter-spacing:2px;
	}
	.wrapper-dropdown-searchcpt.selected{
		background: #026bb6;
		color:white;
		font-weight:bold;
		margin-bottom: 2em;
	}
	
	.search-caption{
		width:100%;
		padding-top:3em;
		padding-bottom:3em;
		margin-bottom:3em;
		padding-left:1em;
		padding-right:1em;
		background-color: #026bb6;
		text-align:center;
		color:white;
	}
	.search-filters-wrapper{
		padding-top:2em;
	}
	.search-filters-wrapper img.searchicon-img{
		background-color:#026bb6;
		padding:0.7em;
		float:right;
		position:absolute;
		height:2.5em;
	}
	.search-filters-wrapper img.searchicon-img:hover{
		cursor:pointer;
	}
	.search-filters-wrapper img.searchicon-img.disabled{
		background-color:gray;
	}
	.search-filters-wrapper img.searchicon-img.disabled:hover{
		cursor:not-allowed;
	}
	.search-filters-wrapper .dropdown-arrow{
		background-color:#026bb6;
		padding:1em !important; /*funky padding being applied at THEME*/
		float:right;
		position:absolute;
	}
	.wrapper-dropdown-searchcpt.selected .dropdown-arrow{
		display:none;
	}
	.search-filters-wrapper .search-text-box{
		margin-bottom:2em;
		width:93%;
		float:left;
		height:2.5em;
		box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	.search-heading{
		color:#026bb6;
		letter-spacing:2px;
		text-align:center;	
	}
	.search-filters-wrapper>p{
		color:#026bb6;
		letter-spacing:2px;
		text-align:center;	
	}
	#customsearch-results-container{
		display:none;
		width:80%;
		margin:0 auto;
	}
	#customsearch-results-container table{
		border-collapse:collapse;
		width:100%;
	}
	#customsearch-results-container thead>tr>td{
		color:#026bb6;
		font-weight:bold;
		padding: 0;
		padding-left: 0.15em;
		padding-right: 0.15em;
		padding-bottom:1em;
	}
	#customsearch-results-container th, #customsearch-results-container td{
		border-bottom: 4px solid #d1d1d1;
		padding-right: 1.5em;
		padding-left: .5em;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.customsearchcpt-divider{
		padding-top:3em;
		padding-bottom:3em;
	}
	.searchresults-heading{
		color:#026bb6;
		letter-spacing:2px;
		text-align:left;
		font-size:1.5em;	
		padding-bottom:2em;
	}



	.wrapper-dropdown-searchcpt {
	    /* Size & position */
	    position: relative;
	    font-size:0.8em;
	    width: 100%;
	    margin: 0 auto;
	    height:3em;
	    max-height:3em;
	    padding: 5px 15px;
	    margin-left:3px;
		float: right;
	    /* Styles */
	    background: #fff;
	    border-radius: 5px;
	    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
	    cursor: pointer;
	    outline: none;
	    -webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
	}
	.wrapper-dropdown-searchcpt.disabled{
		cursor:not-allowed;
		background: #c5c2c2;
		opacity:0.5;
	}
	
	#searchcpt-btn img,#searchcpt-reset-btn img{
	margin:0 auto;
	}
	#searchcpt-btn{
		margin-top:2em;
	}
	#searchcpt-btn>button{
		background:#026bb6;
	}
	.filter-wrapper{
		padding-bottom:10em;
	}
	#searchcpt-btn>button,#searchcpt-reset-btn>button{
		float:left;
		min-width:250px;		
		padding:1em;
	}
	#searchcpt-reset-btn>button{
		background:#b2b2b2;
		min-width:125px;
	}
	#searchcpt-btn>button:hover{
		background:#025294;
	}
	#searchcpt-reset-btn>button:hover{
		background:#626060;
	}
	#hidden-arrow{
		display:none;
	}
	
	.wrapper-dropdown-searchcpt .dropdown-arrow{
		right:0;
	}
	
	.wrapper-dropdown-searchcpt .searchcpt-dropdown {
	    /* Size & position */
	    position: absolute;
	    top: 100%;
	    left: 0;
	    right: 0;
		z-index:999;
	    /* Styles */
	    background: #fff;
	    border-radius: 0 0 5px 5px;
	    border: 1px solid rgba(0,0,0,0.2);
	    border-top: none;
	    border-bottom: none;
	    list-style: none;
	    -webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
		
	    /* Hiding */
	    max-height: 0;
	    overflow: hidden;
	}
	
	.wrapper-dropdown-searchcpt .searchcpt-dropdown li::before{
		content:'';
	}
	
	.wrapper-dropdown-searchcpt .searchcpt-dropdown li {
	    padding: 0 10px ;
	}
	
	.wrapper-dropdown-searchcpt .searchcpt-dropdown li a {
	    display: block;
	    text-decoration: none;
	    color: #333;
	    padding: 10px 0;
	    transition: all 0.3s ease-out;
	    border-bottom: 1px solid #e6e8ea;
	}
	
	.wrapper-dropdown-searchcpt .searchcpt-dropdown li:last-of-type a {
	    border: none;
	}
	
	.wrapper-dropdown-searchcpt .searchcpt-dropdown li i {
	    margin-right: 5px;
	    color: inherit;
	    vertical-align: middle;
	}
	
	/* Hover state */
	
	.wrapper-dropdown-searchcpt .searchcpt-dropdown li:hover a {
	    color: #57a9d9;
	}
	
	/* Active state */
	
	.wrapper-dropdown-searchcpt.active .dropdown-arrow{
		
		height:auto;
	}
	
	.wrapper-dropdown-searchcpt.active {
	    border-radius: 5px 5px 0 0;
	    background: #026bb6;
	    box-shadow: none;
	    border-bottom: none;
	    color: white;
	}
	
	
	.wrapper-dropdown-searchcpt.active .searchcpt-dropdown {
	    border-bottom: 1px solid rgba(0,0,0,0.2);
	    max-height: 400px;
	    overflow-y:scroll;
	}
	
	/* No CSS3 support: none */
	
	#search-pagination-wrapper{
		width:100%;
	}
	
	ul.custom-search-pagination {
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	}
	
	ul.custom-search-pagination li {
	
		display: inline;
		padding:0;
		margin:0 auto;
		list-style:none;
	}
	ul.custom-search-pagination li a.previous-page,ul.custom-search-pagination li a.next-page{
		min-width:120px;
		width:120px;
	}
	ul.custom-search-pagination li a {
	    color: black;
	    float: left;
	    padding: 8px 16px;
	    text-decoration: none;
	    transition: background-color .3s;
	    margin-top:0.25rem;
	    margin-left:0.25rem;
	    margin-right:0.25rem;
	    margin-bottom:0.25rem;
	}
	
	ul.custom-search-pagination li a.active {
	    background-color: #026bb6;
	    color: white;
	}
	ul.custom-search-pagination li::before{
		content:'';
	}
	ul.custom-search-pagination li a:hover:not(.active) {background-color: #ddd;cursor:pointer;}

}





