/*
LOGIN JavaScript
        var searchtype = String( jQuery(".customsearch-cpt-container").data("searchtype") ).toUpperCase();

        switch(searchtype){
            case "ADVISOR_PORTAL":
                //$('[data-taxonomy~="'+'advisor_portal'+'"]').css('display', 'none');
                break;
            case "ADVISOR_LOGIN":
                //$('[data-taxonomy~="'+'advisor_login'+'"]').css('display', 'none');
                break;
        }
        
*/
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"] [data-taxonomy='advisor_login'],
.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"] [data-taxonomy='advisor_portal']{
    display:none;
}

.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"]  .search-filters-wrapper .dropdown-arrow, 
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"]  .search-filters-wrapper .dropdown-arrow,
.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"] .search-caption,
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"] .search-caption,
.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"] .search-filters-wrapper img.searchicon-img,
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"] .search-filters-wrapper img.searchicon-img
{
    background-color: #BC224D;
    background: #BC224D;
}

.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"] .search-wrapper,
.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"] .customsearchcpt-divider,
.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"] #searchcpt-btn,
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"] .search-wrapper,
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"] .customsearchcpt-divider,
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"] #searchcpt-btn
{
    display: none;
}

#landing-page-login {
    float: left;
    padding: 1.15em;
    background-color: #BC224D;
    cursor: pointer;
    font-family: "soleil",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 1;
    color: #fff;
}
/*Specific to Advisors Wordpress Theme*/
.page-section {
  padding: 0 !important;
  padding-bottom: 2em !important;
}
.customsearch-cpt-container {
  /*Reset Table Styles*/
  /* Hover state */
  /* Active state */
  /* No CSS3 support: none */
}
.customsearch-cpt-container table,
.customsearch-cpt-container caption,
.customsearch-cpt-container tbody,
.customsearch-cpt-container tfoot,
.customsearch-cpt-container thead,
.customsearch-cpt-container tr,
.customsearch-cpt-container th,
.customsearch-cpt-container td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.customsearch-cpt-container *,
.customsearch-cpt-container *:after,
.customsearch-cpt-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.customsearch-cpt-container ::selection {
  background: transparent;
}
.customsearch-cpt-container ::-moz-selection {
  background: transparent;
}
.customsearch-cpt-container #customsearchcpt-table.noshow,
.customsearch-cpt-container .noshow {
  display: none !important;
}
.customsearch-cpt-container .search-ctrl-wrapper {
  width: 60%;
  margin: 0px auto;
}
.customsearch-cpt-container .search-filters-wrapper {
  padding-bottom: 4em;
  width: 55%;
  margin: 0 auto;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt {
  letter-spacing: 2px;
}

.customsearch-cpt-container .wrapper-dropdown-searchcpt.selected {
  background: #026bb6;
  color: white;
  font-weight: bold;
  margin-bottom: 2em;
}
.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"] .wrapper-dropdown-searchcpt.active,
.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"] .wrapper-dropdown-searchcpt.selected{
    background: #BC224D;
}
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"] .wrapper-dropdown-searchcpt.selected,
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"] .wrapper-dropdown-searchcpt.active{
    background: #BC224D;
}
.customsearch-cpt-container .search-caption {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #026bb6;
  text-align: center;
  color: white;
}
.customsearch-cpt-container .search-filters-wrapper {
  padding-top: 2em;
}
.customsearch-cpt-container .search-filters-wrapper img.searchicon-img {
  background-color: #026bb6;
  padding: 0.7em;
  float: right;
  position: absolute;
  height: 2.1764705882rem;
}
.customsearch-cpt-container .search-filters-wrapper img.searchicon-img:hover {
  cursor: pointer;
}
.customsearch-cpt-container .search-filters-wrapper img.searchicon-img.disabled {
  background-color: gray;
}
.customsearch-cpt-container .search-filters-wrapper img.searchicon-img.disabled:hover {
  cursor: not-allowed;
}
.customsearch-cpt-container .search-filters-wrapper .dropdown-arrow {
  background-color: #026bb6;
  padding: 1em !important;
  /*funky padding being applied at THEME*/
  float: right;
  position: absolute;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt.selected .dropdown-arrow {
  display: none;
}
.customsearch-cpt-container .search-filters-wrapper .search-text-box {
  margin-bottom: 2em;
  width: 93%;
  float: left;
  height: 2.5em;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.customsearch-cpt-container .search-heading {
  color: #026bb6;
  letter-spacing: 2px;
  text-align: center;
}
.customsearch-cpt-container .search-filters-wrapper > p {
  color: #026bb6;
  letter-spacing: 2px;
  text-align: center;
}
.customsearch-cpt-container #customsearch-results-container {
  display: none;
  width: 80%;
  margin: 0 auto;
}
.customsearch-cpt-container #customsearch-results-container table {
  border-collapse: collapse;
  width: 100%;
}
.customsearch-cpt-container #customsearch-results-container thead > tr > td {
  color: #026bb6;
  font-weight: bold;
  padding: 0;
  padding-left: 0.15em;
  padding-right: 0.15em;
  padding-bottom: 1em;
}
.customsearch-cpt-container #customsearch-results-container th,
.customsearch-cpt-container #customsearch-results-container td {
  border-bottom: 4px solid #d1d1d1;
  padding-right: 1.5em;
  padding-left: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.customsearch-cpt-container .customsearchcpt-divider {
  padding-top: 3em;
  padding-bottom: 3em;
}
.customsearch-cpt-container .searchresults-heading {
  color: #026bb6;
  letter-spacing: 2px;
  text-align: left;
  font-size: 1.5em;
  padding-bottom: 2em;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt {
  /* Size & position */
  position: relative;
  font-size: 0.8em;
  width: 100%;
  margin: 0 auto;
  height: 3em;
  max-height: 3em;
  padding: 5px 15px;
  margin-left: 3px;
  float: right;
  /* Styles */
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt.disabled {
  cursor: not-allowed;
  background: #c5c2c2;
  opacity: 0.5;
}
.customsearch-cpt-container #searchcpt-btn img,
.customsearch-cpt-container #searchcpt-reset-btn img {
  margin: 0 auto;
}
.customsearch-cpt-container #searchcpt-btn {
  margin-top: 2em;
}
.customsearch-cpt-container #searchcpt-btn > button {
  background: #026bb6;
}
.customsearch-cpt-container .filter-wrapper {
  padding-bottom: 10em;
}

.customsearch-cpt-container[data-searchtype="ADVISOR_PORTAL"] .filter-wrapper,
.customsearch-cpt-container[data-searchtype="ADVISOR_LOGIN"] .filter-wrapper
{
    padding-bottom: 15em;
}
.customsearch-cpt-container #searchcpt-btn > button,
.customsearch-cpt-container #searchcpt-reset-btn > button {
  float: left;
  min-width: 250px;
  padding: 1em;
}
.customsearch-cpt-container #searchcpt-reset-btn > button {
  background: #b2b2b2;
  min-width: 125px;
}
.customsearch-cpt-container #searchcpt-btn > button:hover {
  background: #025294;
}
.customsearch-cpt-container #searchcpt-reset-btn > button:hover {
  background: #626060;
}
.customsearch-cpt-container #hidden-arrow {
  display: none;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt .dropdown-arrow {
  right: 0;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt .searchcpt-dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  /* Styles */
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom: none;
  list-style: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /* Hiding */
  max-height: 0;
  overflow: hidden;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt .dropdown-arrow{
        top: 0;
    height: 100%;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt .searchcpt-dropdown li::before {
  content: '';
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt .searchcpt-dropdown li {
  padding: 0 10px ;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt .searchcpt-dropdown li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #e6e8ea;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt .searchcpt-dropdown li:last-of-type a {
  border: none;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt .searchcpt-dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt .searchcpt-dropdown li:hover a {
  color: #57a9d9;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt.active .dropdown-arrow {
  height: auto;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt.active {
  border-radius: 5px 5px 0 0;
  background: #026bb6;
  box-shadow: none;
  border-bottom: none;
  color: white;
}
.customsearch-cpt-container .wrapper-dropdown-searchcpt.active .searchcpt-dropdown {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 400px;
  overflow-y: scroll;
}
.customsearch-cpt-container #search-pagination-wrapper {
  width: 100%;
}
.customsearch-cpt-container ul.custom-search-pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.customsearch-cpt-container ul.custom-search-pagination li {
  display: inline;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
.customsearch-cpt-container ul.custom-search-pagination li a.previous-page,
.customsearch-cpt-container ul.custom-search-pagination li a.next-page {
  min-width: 120px;
  width: 120px;
}
.customsearch-cpt-container ul.custom-search-pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.customsearch-cpt-container ul.custom-search-pagination li a.active {
  background-color: #026bb6;
  color: white;
}
.customsearch-cpt-container ul.custom-search-pagination li::before {
  content: '';
}
.customsearch-cpt-container ul.custom-search-pagination li a:hover:not(.active) {
  background-color: #ddd;
  cursor: pointer;
}
#landing-page-login:hover{
    color: white;
}
@media (max-width: 800px){
    .customsearch-cpt-container button {
        width: 100%;
        min-width: 150px;
    }
}
